html,
body {
  height: 100%;
   background:#efefef url("../img/gb.jpg");
}

#wrap {
  min-height: 100%;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -82px 0;
  /* Pad bottom by footer height */
  padding: 0 0 80px 0;
}



/* Set the fixed height of the footer here */
#footer {
  height: 100px;
  background-color: #f5f5f5;
}


#wrap > .center-container {
  padding: 50px 0 0 0;
  margin:0;
}

#footer > .container {
  padding-top:5px
  padding-left: 15px;
  padding-right: 15px;
}

.center-container {
  height:100%;
  display: table;
  width:100%;
  margin:0;
}

.center-row {
  height:50%;
  width:100%;
  display: table-row;
}
  
.center-row > div {
  height:100%;
  width:100%;
  display: table-cell;
  border:1px solid white !important;
  border-bottom: 0px !important;
  color:#fff;
  vertical-align:middle;
}

.center-row2 {
  height:50%;
  width:100%;
  display: table-row;
}
  
.center-row2 > div {
  height:100%;
  width:50%;
  display: table-cell;
  border:1px solid white !important;
   border-bottom: 0px !important;
  color:#fff;
  vertical-align:middle;
}

.bg-one {
  background:#efefef url("../img/gb.jpg");
}
.bg-two {
  background:#efefef url("../img/gb.jpg");
}
.bg-three {
  background:#efefef url("../img/gb.jpg");
}
.bg-four {
  background:#efefef url("../img/gb.jpg");
}

#container1 {
    background-color: #e2dada;
}

.centered-form {
    margin-top: 120px;
    margin-bottom: 120px;
}

.centered-form .panel {
    background: rgba(255, 255, 255, 0.8);
    box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}

.pad-top {
    padding-top:40px;
}

.panel{
 opacity: 0.9;
    filter: alpha(opacity=90); /* For IE8 and earlier */
  }
  
  .red{
  color: red;
font-weight: bold;
}

.push {
  height: 60px;
}

.search{
	width: 50% !important;
}